.result {
    font-size: 4px;
    line-height: 1;
    letter-spacing: 0.5em;
    margin: 2rem auto 3rem;
}

.button {
    color: $black;
    border-radius: $border-radius;
    border: 1px solid rgba($black, 0.9);
    padding: 0.5rem 1.3rem;
    margin: 0 1rem;
    text-decoration: none;
    position: relative;
    display: inline-block;
    z-index: 1;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: $yellow3;
    }
}

// .button:before {
//     content: '';
//     position: absolute;
//     top: -20px;
//     left: -20px;
//     right: -20px;
//     bottom: -20px;
//     background: $yellow3;
//     border-radius: 5px;
//     // z-index: -1;
//     opacity: 0.4;
//     transform: scale3d(0.5, 0.4, 1);
// }

// .button--active:before {
//     animation: pop 0.3s;
// }


// @keyframes pop {
//     from {
//         z-index: 1;
//     }

//     to {
//         opacity: 0;
//         transform: scale3d(1, 1, 1);
//     }
// }