.upload {
    background: $yellow3;
    border-radius: 5px;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .input,
    .canvas {
        display: none;
    }

    &--error {
        background: $red;
    }
}

.upload__wrapper {
    margin: auto;
    max-width: 800px;
}

.upload__copy {
    max-width: 600px;
    margin: 1.5rem auto;
}

.upload--drag-enter {
    border: 5px solid $yellow5;
    color: $yellow5;

    .instructions--standard {
        display: none;
    }

    .instructions--drop {
        display: block;
    }
}

.instructions {
    display: block;
    font-size: 1.4rem;
}

.instructions--drop {
    display: none;
}
