:global {
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @import '~normalize.css/normalize';

  @import 'variables';
  @import 'base';
  @import 'upload';
  @import 'form';
  @import 'progress';
  @import 'result';
  @import 'footer';
}