
@import 'variables';
// @import '~normalize.css/normalize';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $yellow;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@import 'base';
@import 'icon';
@import 'error';
@import 'upload';
@import 'form';
@import 'progress';
@import 'result';
@import 'footer';
